h1 {
    color:red;
    font-family: 'Courier Prime', monospace;
}
h2 {
    position: relative;
    top: 5px;
    right: 5px;
    color: chartreuse
}

p {
 font-family: 'Barlow', sans-serif;
 color:green
}
.sander {
    position: relative;
    top: -527px;
    right: 69px;
}
.scouting {
    position: relative
    top: 30px
    left:100px
}
